.TablePage * {
  font-size: 12px;
}
.TablePage .downloadButton {
  margin-left: 45px;
}

.TablePage .table {
  text-align: center;
}

.TablePage .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.2rem 1rem;
}

.TablePage .filterDropdown {
  font-size: 12px !important;
}
